default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: bet_hockey_statistics_development

test:
  <<: *default
  database: bet_hockey_statistics_test
